{% extends "auth/log-auth-base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Elite</b>Spark</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Create Account And Start Your Journey</p>

      <form action="{% url 'user:auth' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input type="number" name="prn-number" class="form-control" placeholder="Enter 16 digit PRN">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-id-card"></span>
            </div>
          </div>
        </div>
        <span id="input-error" style="color: red; font-size: small; display: none;"></span>
        <span id="input-success" style="color: green; font-size: small; display: none;"></span>
        <div class="row my-2">
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" id="submit-btn" class="btn btn-primary btn-block disabled" disabled>Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-0">
        <a href="{% url 'user:login' %}" class="text-center">Login For Already Register</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'user:email-validation' %}" class="text-center">Email verification</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

{% endblock %}


{% block script %}
<script>
  var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
  $('input[name=prn-number]').on('keyup', function () {
    $('#submit-btn').addClass('disabled');
    $('#submit-btn').attr('disabled', true);
    if ($(this).val().length >= 16) {
      $.ajax({
        async: true,
        method: "POST",
        url: "{% url 'user:prn-auth' %}",
        data: {
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          'prn-number': $(this).val(),
        },
        success: function (response) {
          if(response['Status'] === true){
            $('#input-error').css('display', 'none');
            $('#input-success').css('display', 'block');
            $('#input-success').html(response['Message']);
            $('#submit-btn').removeClass('disabled');
            $('#submit-btn').attr('disabled', false);
          }
          else{
            $('#input-success').css('display', 'none');
            $('#input-error').css('display', 'block');
            $('#input-error').html(response['Message']);
          }
        }
      });
    }
    else{
      $('#input-success').css('display', 'none');
      $('#input-error').css('display', 'none');
    }
  });
</script>
{% endblock %}