<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Elite Spark</h1>
  <h3>{{user.username}} your password has been reset successfully at Elite Spark</h3>
  <p style="color: red;">Your password has been reset If it was not you please contact to your teacher or staff and tell then about this!...</p>
  <p>Thanks from EliteSpark and team</p>
</body>

</html>